$base-color: #3c4fde;
$arrow-height: 15px;
$arrow-margin: -1.75rem;

.splide__slide.is-active {
  border-bottom: 4px solid $base-color;
}

.splide__slide {
  border-radius: 5px;
  height: 50px !important;
  width: 70px !important;
}

.splide__arrow svg {
  fill: $base-color !important;
  height: 100%;
  &:hover {
    fill: lighten($base-color, 15%) !important;
  }
}

.splide__arrow--next {
  right: $arrow-margin;
  height: $arrow-height;
}

.splide__arrow--prev {
  left: $arrow-margin;
  height: $arrow-height;
}
